gradio~=5.38.2
python-dotenv
google-generativeai
python-docx
python-dotenv

protobuf
PyMuPDF==1.24.9

google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
nicegui
requests