gradio~=5.38.2
python-dotenv~=1.1.0
google-generativeai
python-docx~=1.1.2
python-dotenv

protobuf~=5.29.4

google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
google-generativeai
googleapis-common-protos
nicegui~=2.21.1
requests~=2.32.3